* {
  margin: 0;
  padding: 0;
}

.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 20px;

  button {
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
}

#whoWins {
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;

  display: flex;
  gap: 20px;
}

.score {
  display: flex;
  gap: 50px;
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;
}
#winner {
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;

  display: flex;
  gap: 20px;
}
.heading {
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;
}

#container {
  width: fit-content;
  margin: 0 auto;
  font-size: 100px;
}
