* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 20px;
  background-color: #082c6c;
  color: #fff;
   height: 50vh;
    width: 100vw;
}
.heading {
  width: fit-content;
  margin: 0 auto;
  font-size: 80px;
}
.score {
  display: flex;
  gap: 50px;
  width: fit-content;
  margin: 0 auto;
  font-size: 25px;
}
.playerScore{
  color: #4caf50;
  display: flex;
  flex-direction: column;
   align-items: center;

}
.computerScore{
  color: #f44336;
  display: flex;
  flex-direction: column;
   align-items: center;

}

.move{
  
    font-size: 2rem;
    font-weight: bold;
}
  
#movesleft{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }

.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 40px;

  button {
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
    
  
  }
}
#result{
    margin-top: 20px;
    font-size: 30px;
}

#reload {
    display: none;
    font-size: 20px;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
